@layer components {
  .note {
    margin-block-end: var(--space-6);
  }

  .confidential {
    display: grid;
    gap: var(--space-8) var(--gutter);
  }

  .item {
    display: grid;
    gap: var(--space-3);
    align-content: start;
  }

  .item > :first-child {
    margin-block-end: var(--space-3);
  }

  @media (width >= 48rem) {
    .confidential {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
